body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  overflow: hidden;
  color: #22ff88;
  font-family: sans-serif;
}

/* MATRIX BG */
#matrix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* CARD */
.input-chr {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 420px;
  padding: 40px 35px;
  border-radius: 14px;

  background: rgba(0, 20, 10, 0.85);
  border: 1px solid #22ff88;

  backdrop-filter: blur(6px);

  animation: flicker 3s infinite;
}

/* FLICKER */
@keyframes flicker {
  0%,19%,21%,23%,80%,100% {
    box-shadow:
      0 0 10px #00FF00,
      0 0 40px rgba(34, 255, 34, 0.25),
      inset 0 0 20px rgba(34,255,136,0.15);
    opacity: 1;
  }
  20%,22%,24% {
    box-shadow:
      0 0 4px #22ff88,
      0 0 10px rgba(34,255,136,0.1);
    opacity: 0.85;
  }
}

/* TITLE */
h1 {
  font-family: Tanker;
  margin: 0;
  letter-spacing: 2px;
  color: #00FF00;

  text-shadow:
    0 0 6px #00FF00,
    0 0 18px rgba(0, 255, 0, 0.7);

  animation: textFlicker 3s infinite;
}

/* TEXT FLICKER */
@keyframes textFlicker {
  0%,18%,22%,25%,53%,57%,100% { opacity:1; }
  20%,24%,55% { opacity:0.4; }
}

/* BY */
.by {
  font-family: sharpie;
  font-size: 18px;
  margin-top: 4px;
  color: #8affc1;
  text-shadow: 0 0 6px rgba(34,255,136,0.6);
}

/* INPUT */
input {
  width: 100%;
  height: 38px;
  margin-top: 30px;
  border-radius: 6px;
  border: 1px solid #00FF00;
  background: rgba(0,0,0,0.6);
  color: #22ff88;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  outline: none;
  box-shadow: inset 0 0 8px rgba(34,255,136,0.25);
}

input::placeholder {
  color: #22ff88aa;
}

/* BUTTON */
button {
  width: 100%;
  height: 40px;
  margin-top: 12px;
  border-radius: 40px;
  border: 1px solid #22ff88;
  background: linear-gradient(180deg,#00FF00,#0d651f);
  color: #001b0d;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;

  box-shadow:
    0 0 10px rgba(34,255,136,0.6),
    inset 0 0 6px rgba(255,255,255,0.2);

  transition: 0.25s;
}

button:hover {
  transform: translateY(-1px);
  box-shadow:
    0 0 16px rgba(34, 255, 0, 0.9),
    0 0 30px rgba(34,255,136,0.4);
}
